[app]
secret=98873243483fd343435767
logfilename=api.log
secret_csrf=secret_csrf

[db]
user=root
password=secret
host=127.0.0.1
name=api
db_path=sqlite:///api.db

[jwt]
key=key.jwk
rsa=jwt.pem

[users]
admin=admin

[authLDAP]
userAttr=uid
userBase=ou=Users,dc=example,dc=com
uri=ldap://10.0.0.1
port=389